:root {
  --border: rgba(0, 0, 0, 0.1);
  --max-width: 1440px;
  --min-width: 375px;
  --border-radius: 12px;
  --font-mono: "Nunito Sans";
   --gray: hsl(0, 0%, 52%);
  --bg-dark: hsl(207, 26%, 17%);
  --elements-dark: hsl(209, 23%, 22%);
  --color-white: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);

  --input-light: hsl(0, 0%, 52%);
  --text-light: hsl(200, 15%, 8%);
  --bg-light: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans" !important;
}

html,
body {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}
.main {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
